<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCord</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
  </head>
  <body>
    <header>
      <div class="container flex">
        <button class="nav_toggle" aria-label="open navigation">
          <span class="hamburger"></span>
        </button>
        <a href="/home" class="logo">HealthCord</a>
        <nav class="nav">
          <ul class="nav_list">
            <li class="nav_item"><a href="#" class="nav_link">About</a></li>
            <li class="nav_item"><a th:href="@{/healthcord?id=} + ${user.id}" class="nav_link">My Health</a></li>
            <li class="nav_item"><a href="#" class="nav_link">Contact</a></li>
          </ul>
          <ul class="nav_list nav_secondary">
            <li class="nav_item">
              <a href="/#profile" class="nav_link"><img class="svg" src="/img/user-solid.svg" alt="user-solid" th:text="${user.name}"></a>
            </li>
            <li class="nav_item"><a href="/logout" class="nav_link">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="hero">
        <div class="container">
          <div class="content">
            <h1>Maintaining health records <span>don’t have to be a struggle</span>
            </h1>
            <p>Save and Organize all your medical reports at one place</p>
          </div>
          <div class="image">
            <img class="mb-2" th:src="@{/img/health-record.jpg}" alt="health-record image">
          </div>
          
        </div>
    </section>
   
   


    <section class="record_form" id="addRecord">
      <div class="container">
      <h1 class="mb-2">About HealthCord</h1>

        <ul class="about_list mb-2">
          <li>
            Collect and save all your medical records at one place for future reference.
          </li>
          <li>Export your health record in PDF and share it with your doctor thro email</li>
          <li>Do not leave your important health records scattered in your home.</li>
          <!-- <li>Ask your doctor to send</li> -->
        </ul>
        <h1 class="mb-2">Add your past and present health records here</h1>
        <form action="" id="healthRecordForm">
          <div class="form_group">
            <label for="Symptoms">Symptoms:</label>
            <input class="form_control" type="text" name="Symptoms" required>
          </div>
          <div class="form_group">
            <label for="doctorName">Physician/Doctor Name:</label>
            <input class="form_control" type="text" name="doctorName" required>
          </div>
          <div class="form_group">
            <label for="hospitalName">Clinic/Hospital Name:</label>
            <input class="form_control" type="text" name="hospitalName"required >
          </div>
          <div class="form_group">
            <label for="Diagnosis">Diagnosis:</label>
            <textarea class="form_control" name="Diagnosis" rows="4"required></textarea>
          </div>
          <div class="form_group">
            <label for="remedy">Remedy/treatment advised:</label>
            <textarea class="form_control" name="remedy" rows="4"required></textarea>
          </div>
          <div class="form_group">
            <label for="consultationDate">Consultation Date:</label>
            <input class="form_control" type="date" name="consultationDate"required >
          </div>
          <div class="form_group">
            <label for="file-upload">
              <!-- <img class="svg" src="img/file-arrow-up-solid.svg" alt="file-arrow-up-solid"> </label> -->
            <input type="file" class="form_control custom-file-upload" name="Uploaded report" id="file-upload">
          </div>
          <input type="submit" name="" value="Submit" class="btn" >
          <div class="form_group">
          </div>
        </form>
      </div>
    </section>
 
    <footer>
      <div class="container">
        <h2 class="mb-1">Future updates</h2>
        <ul class="mb-2">
          <li>book appointments</li>
          <li>choose your family doctor</li>
          <li>don't choose specialist yourself</li>
          <li>4 physician or physiotherapist shall guide you to a specialist</li>
        </ul>
        <div class="flex">
          <div class="about">
            <h2 class="mb-1">Contact</h2>
            <ul>
              <li>Contact: 9874563210</li>
              <li>support@email.com</li>
            </ul>
          </div>
   
        </div>
      </div>
    </footer>
    <script th:src="@{/scripts/index.js}" defer=""></script>
    <script th:inline="javascript">
      $(document).ready(function() {
        var user = /*[[${user}]]*/
        console.log(user);
        sessionStorage.setItem("user",JSON.stringify(user));
      });
    </script>
 
  </body>
</html>
